# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# Pyrogram session files
*.session
*.session-journal

# Application logs
*.log
logs/

# Environment variables
.env

# Application data files
keywords.txt
chats.txt

# IDE
.vscode/
.idea/
*.swp
*.swo